- page_title "Issues"
- group_issues_exists = group_issues(@group).exists?
= render "head_issues"
= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, params.merge(rss_url_options), title: "#{@group.name} issues")

- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'common_vue'
  = webpack_bundle_tag 'filtered_search'
  = webpack_bundle_tag 'issues'

- if group_issues_exists
  - content_for :breadcrumbs_extra do
    = link_to params.merge(rss_url_options), class: 'btn btn-default append-right-10' do
      = icon('rss')
      %span.icon-label
        Subscribe
    = render 'shared/new_project_item_select', path: 'issues/new', label: "New issue", type: :issues

- if group_issues_exists
  .top-area
    = render 'shared/issuable/nav', type: :issues
    .nav-controls.visible-xs
      = link_to params.merge(rss_url_options), class: 'btn' do
        = icon('rss')
        %span.icon-label
          Subscribe
      = render 'shared/new_project_item_select', path: 'issues/new', label: "New issue", type: :issues

  = render 'shared/issuable/search_bar', type: :issues

  .row-content-block.second-block
    Only issues from the
    %strong= @group.name
    group are listed here.
    - if current_user
      To see all issues you should visit #{link_to 'dashboard', issues_dashboard_path} page.

  = render 'shared/issues'
- else
  = render 'shared/empty_states/issues', project_select_button: true
