- @no_container = true
- @can_bulk_update = can?(current_user, :admin_issue, @project)

- page_title "Issues"
- new_issue_email = @project.new_issue_address(current_user)
= content_for :sub_nav do
  = render "projects/issues/head"

- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'common_vue'
  = webpack_bundle_tag 'filtered_search'
  = webpack_bundle_tag 'issues'

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, params.merge(rss_url_options), title: "#{@project.name} issues")

- content_for :breadcrumbs_extra do
  = render "projects/issues/nav_btns"

- if project_issues(@project).exists?

  = render 'projects/issues/export_issues/csv_download'

  %div{ class: (container_class) }
    .top-area
      = render 'shared/issuable/nav', type: :issues
      .nav-controls.visible-xs
        = render "projects/issues/nav_btns"
    = render 'shared/issuable/search_bar', type: :issues

    - if @can_bulk_update
      = render 'shared/issuable/bulk_update_sidebar', type: :issues

    .issues-holder
      = render 'issues'
      - if new_issue_email
        = render 'issue_by_email', email: new_issue_email
- else
  = render 'shared/empty_states/issues', button_path: new_project_issue_path(@project)
