!!! 5
%html{ lang: I18n.locale, class: page_class }
  = render "layouts/head"
  %body{ class: @body_class, data: { page: body_data_page, project: "#{@project.path if @project}", group: "#{@group.path if @group}", find_file: find_file_path } }
    = render "layouts/init_auto_complete" if @gfm_form
    = render 'peek/bar'
    = render "layouts/header/default"
    = render 'layouts/page', sidebar: sidebar, nav: nav

    = yield :scripts_body
